<h2 style="text-align: center;"><strong>КОНТАКТИ</strong>
</h2>
<p style="margin-left: 18pt; text-align: center;"><span style="color: #0000ff;"><strong><em><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: Verdana;">Ви можете внести свою лепту в добру справу</span></span>
</em>
</strong>
			</span><span style="font-size: 10pt; font-family: Verdana;"></span>
</p>
<p style="margin-left: 18pt; text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="color: #0000ff;"><strong><em><span style="font-size: 10pt; font-family: Verdana;">Перерахувавши кошти на банківський рахунок </span>
</em>
</strong>
			</span>
</p>
<p style="text-align: center;"><span style="color: #0000ff;"><strong><em><span style="font-size: 10pt; font-family: Verdana;">храму свт. Миколая Чудотворця</span>
</em>
</strong>
			</span>
</p>
<p><span style="text-decoration: underline;"><strong><span style="font-size: 10pt; font-family: Verdana;">Рекв</span>
</strong><strong><span style="font-size: 10pt; font-family: Verdana;">і</span></strong><strong><span style="font-size: 10pt; font-family: Verdana;">зит</span></strong><strong><span style="font-size: 10pt; font-family: Verdana;">и</span></strong>
			</span><strong><span style="font-size: 10pt; font-family: Verdana;">:</span></strong>
</p>
<p><span style="font-family: georgia,palatino; font-size: 12pt;">р/р <span style="font-family: verdana,geneva;">26009411851</span> Центральне Відділення ПАТ "МАРФІН БАНК" у м. Києві<br />
			</span>
</p>
<p><span style="font-family: georgia,palatino; font-size: 12pt;">МФО <span style="font-family: verdana,geneva;">328168</span>&nbsp; РГ УПЦ Парафії Святителя Миколая Чудотворця</span>
</p>
<p><span style="font-size: 12pt; font-family: georgia,palatino;">код&nbsp; <span style="font-family: verdana,geneva;">21650966</span></span>
</p>
<p><strong><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: Verdana;">Призначення платежу</span></span></strong><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: Verdana;">: </span></span><span style="font-size: 10pt; font-family: Verdana;">Благодійна допомога "Наша Лепта"</span><span style="text-decoration: underline;"><span style="font-size: 10pt; font-family: Verdana;"><br /></span></span>
</p>
<p>&nbsp;</p>
<p style="text-align: justify;">&nbsp;<span style="text-decoration: underline; font-size: 10pt;"><strong><span style="font-family: georgia,palatino;">Як нас знайти:</span> </strong>
			</span><span style="font-family: georgia,palatino; font-size: 12pt;">Храм знаходиться&nbsp; в районі станції метро «Печерська»,&nbsp; а також &nbsp; можна&nbsp; дістатися від от метро «Палац Україна» - маршрутка 520 до зупинки&nbsp; "17 лікарня".</span>
</p>
