<p>Help view</p>
<p style="text-align: center;" align="center"><span style="font-family: georgia,palatino; font-size: 12pt;"><strong>Дорогі друзі!</strong></span>
</p>
<p style="text-align: center;" align="center"></p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;">Запрошуємо Вас відвідати <strong>Новорічний Благодійний ярмарок - аукціон «НАША ЛЕПТА»</strong>, який відбудеться <strong>27 грудня </strong>(субота) в м. Києві, за адресою: <strong>галерея «Соборна</strong>», вул. Залізничне шосе, 3, з 10:00 до 16:00. </span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;">Новорічний Благодійний ярмарок-аукціон проводиться за благословенням Блаженнішого Митрополита Київського і всієї України Онуфрія. Куратор проекту єпископ Васильківський Миколай, керуючий Південним київським вікаріатством. Організатори заходу: Печерське благочиння та храм свт. Миколая Чудотворця при 17-й лікарні м. Києва. </span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;">Церква здійснює свою благодійну місію ще з першохристиянських часів. І сьогодні у скрутні та нелегкі часи, коли збільшується чисельність тих, хто потребує допомоги, особливо важливого значення набуває благодійність. </span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;"><em>Даний захід є покликом наших сердець та бажанням щирої допомоги, нашою лептою в скарбницю небайдужості, людяності та любові до ближнього.</em> </span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;">Однією із незахищених та вразливих категорій населення завжди були й залишаються діти. Допомога дітям, які постраждали в східних регіонах нашої держави, дітям, що за складних економічних обставин зостались сам на сам із тяжкими та невиліковними хворобами, і є метою проведення нашого заходу. Ми збираємо кошти, аби мати можливість профінансувати їх лікування, що дасть змогу багатьом із них згодом повернутись до радісного та здорового життя. </span>
</p>
<p style="text-align: justify;"><span style="font-size: 9pt; font-family: georgia,palatino;"> На гостей акції чекатиме передноворічний продаж товарів, жива музика, «Ярмарок-майстрів». Центральною подією Благодійного заходу буде «спеціальний» аукціон, головним лотом якого стане книга з дарчим написом Блаженнішого Митрополита Онуфрія.</span>
</p>
<p style="text-align: justify;"><span style="font-size: 9pt; font-family: georgia,palatino;"> Відвідувачі та учасники в рамках проведення заходу матимуть змогу: стати волонтерами, отримати торгівельне місце для продажу товарів, попередньо погодивши з організаторами асортимент, просто відвідати даний захід і по можливості зробити благодійний внесок.</span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;">Наше ставлення до учасників і гостей будується виключно на довірі, тому вони за власних можливостей, самостійно в рамках коридору запропонованих цін зможуть здійснити благодійну покупку шляхом внесення коштів у спеціально опечатані скриньки. Від продавців торговельних точок просимо в якості пожертви внести десяту частину виручки. Для юридичних осіб нами підготовлено необхідний пакет документів про підтвердження внесення благодійного внеску.</span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;">Предметом Вашої добровільної пожертви можуть бути як кошти, так і речі: одяг (для дорослих та дітей), книги, іграшки тощо. </span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;">Якщо ж ви бажаєте зробити свій внесок у вигляді грошових коштів, можете перерахувати будь-яку суму на рахунок, зазначений нижче. </span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;">У свою чергу ми гарантуємо звітність щодо зібраних коштів та передачі їх згідно із зазначеною метою, про що буде повідомлено протягом місяця після дати проведення заходу на сайтах УПЦ. </span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"></p>
<p style="text-align: center;" align="center"><span style="font-family: georgia,palatino; font-size: 12pt;"><em>Віримо – разом ми зробимо добру справу!</em></span>
</p>
<p style="text-align: justify; text-indent: 35.45pt;"><span style="font-size: 9pt; font-family: georgia,palatino;"></span>
</p>
<p style="text-align: right;" align="right"><span style="font-family: georgia,palatino;"><strong><span style="font-size: 9pt;">З надією на Вашу небайдужість</span>
</strong>
			</span>
</p>
<p style="text-align: right;" align="right"><span style="font-family: georgia,palatino;"><strong><span style="font-size: 9pt;"> організатори ярмарку – аукціону «Наша Лепта»</span>
</strong>
			</span>
</p>
<p></p>


<div id="hypercomments_widget"></div>
<script type="text/javascript">
  _hcwp = window._hcwp || [];
  _hcwp.push({widget:"Stream", widget_id: 27604});
  (function() {
    if("HC_LOAD_INIT" in window)return;
    HC_LOAD_INIT = true;
    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "ru").substr(0, 2).toLowerCase();
    var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
    hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/27604/"+lang+"/widget.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hcc, s.nextSibling);
  })();
</script>
<a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>


<!--

&lt;!&ndash;Discuss plugin config start&ndash;&gt;
<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = 'nashalepta';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Включите поддержку JavaScript,<a href="https://disqus.com/?ref_noscript" rel="nofollow"> чтобы увидеть комментарии</a></noscript>
&lt;!&ndash;<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments.</a></noscript>&ndash;&gt;
&lt;!&ndash;Discuss plugin config end&ndash;&gt;

-->
