<div class="container-fluid" ng-controller="MainCtrl">
  <div class="editor">
    <textarea ckeditor="editorOptions" ng-model="selectedChapterContents"></textarea>
  </div>
</div>



<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<h2 >НОВОСТИ ПРОЕКТА</h2>
<h2 >"НАША ЛЕПТА"</h2>
<p><strong><span style="font-family: georgia,palatino; color: #993300;">«Наша Лепта» зібрала гуманітарну допомогу трьом парафіям в зоні АТО</span></strong>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong><a href="https://lh6.googleusercontent.com/-HRnIvGCbbng/VNS6FDhcDnI/AAAAAAAAHNQ/vqTXO_oBqwU/w632-h843-no/DSCN0207.JPG" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="https://lh6.googleusercontent.com/-HRnIvGCbbng/VNS6FDhcDnI/AAAAAAAAHNQ/vqTXO_oBqwU/w632-h843-no/DSCN0207.JPG" alt="" width="146" height="185" /></a></strong></span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong>5 лютого</strong> благодійний проект «Наша Лепта», який діє з благословення Блаженнішого Митрополита Київського і всієї України Онуфрія, відгукнувся на заклик щодо термінового збору гуманітарної допомоги трьом парафіям в зоні АТО. Допомога здійснюється в рамках програми «Місія Милосердя та Примирення» за підтримки Соціально-гуманітарного відділу УПЦ, БФ «Фавор» та фонду «До брата сердечна довіра».</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Завдяки небайдужим людям за три дні волонтерам «Нашої Лепти» вдалось зібрати продукти харчування, дитяче харчування, медикаменти, предмети гігієни для дітей, побутову хімію на загальну суму близько 12 000 грн. Також зібрано та передано одяг для дорослих і дітей.</span>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="https://lh5.googleusercontent.com/-2gh0vc8emhk/VNS6FD9f_aI/AAAAAAAAHNM/iwxxTdyGzyI/w632-h843-no/DSCN0215.JPG" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh5.googleusercontent.com/-2gh0vc8emhk/VNS6FD9f_aI/AAAAAAAAHNM/iwxxTdyGzyI/w632-h843-no/DSCN0215.JPG" alt="" width="123" height="125" /></a></td>
    <td><a href="https://lh5.googleusercontent.com/-DWiVC4nuL3g/VNS6UAkOs-I/AAAAAAAAHNc/J2FkO9_NnwM/w958-h719-no/DSCN0248.JPG" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh5.googleusercontent.com/-DWiVC4nuL3g/VNS6UAkOs-I/AAAAAAAAHNc/J2FkO9_NnwM/w958-h719-no/DSCN0248.JPG" alt="" width="147" height="123" /></a></td>
    <td><a href="https://lh6.googleusercontent.com/-3GlQrfFiL9U/VNS6UxQ4ANI/AAAAAAAAHNk/pglIiQma3d4/w958-h719-no/DSCN0249.JPG" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh6.googleusercontent.com/-3GlQrfFiL9U/VNS6UxQ4ANI/AAAAAAAAHNk/pglIiQma3d4/w958-h719-no/DSCN0249.JPG" alt="" width="147" height="123" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p style="text-align: right;"><span style="text-decoration: underline;"><span style="color: #993300; text-decoration: underline;"><a href="http://mitropolia.kiev.ua/nasha-lepta-zibrala-gumanitarnu-dopomogu-trom-parafiyam-v-zoni-ato/"><span style="color: #993300; text-decoration: underline;"><strong><span style="font-family: georgia,palatino;">mitropolia.kiev.ua</span>
</strong>
			</span>
</a>
			</span>
			</span>
</p>
<p ><span style="color: #993300;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p style="text-align: justify;"><span style="color: #993300;"><strong><span style="font-family: georgia,palatino;">05.02.2015. Новости "Нашей Лепты"</span> </strong> </span>
</p>
<p ><strong><span style="font-family: georgia,palatino; color: #993300;">Блаженніший Митрополит Онуфрій</span></strong>
</p>
<p ><strong><span style="font-family: georgia,palatino; color: #993300;"> передав гроші для будинку дитини на Донбасі.</span></strong><span style="font-family: georgia,palatino;"><strong><br /></strong></span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong><span style="font-family: georgia,palatino;"><a href="http://mitropolia.kiev.ua/wp-content/uploads/2015/02/DSC_01221.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="http://mitropolia.kiev.ua/wp-content/uploads/2015/02/DSC_01221.jpg" alt="" width="238" height="175" /></a></span> </strong> </span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong> 5 лютого</strong> Блаженніший Митрополит Київський і всієї України Онуфрій в предстоятельській резиденції у Києво-Печерській Лаврі зустрівся з організаторами благодійної акції "Наша лепта" та головним лікарем будинку дитини "Антошка" (місто Краматорськ, Донецька область) Анатолієм Романовим.</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">У зустрічі взяли участь: куратор благодійного проекту єпископ Васильківський Миколай, керуючий Південним київським вікаріатством, керівник проекту протоієрей Володимир Косточка, благочинний Печерського благочиння, організатор заходу Валентина Калашнікова.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Його Блаженство подякував Анатолію Олексійовичу за старанні труди на благо дітей в умовах військового конфлікту: "Ви дійсно несете подвиг у Вашому закладі. Адже незважаючи ні на що, Ви не кидаєте дітей напризволяще, а продовжуєте піклуватися про них". Блаженніший Митрополит Онуфрій особисто передав будинку дитини "Антошка" кошти, зібрані під час проведення благодійної акції "Наша Лепта", а проект зібрав 35 000 грн. В Краматорському будинку дитини наразі знаходиться більше 100 дітей, віком до чотирьох років – сироти, інваліди та важко хворі діти.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">У свою чергу Анатолій Олексійович передав в особі Блаженнішого владики подяку всій Українській Православній Церкві за благодійну допомогу від колективу Краматорського будинку дитини "Антошка"</span>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2015/02/DSC_0105.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2015/02/DSC_0105.jpg" alt="" width="190" height="153" /></a>
    </td>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2015/02/DSC_01131.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2015/02/DSC_01131.jpg" alt="" width="196" height="152" /></a>
    </td>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2015/02/DSC_01191.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2015/02/DSC_01191.jpg" alt="" width="178" height="147" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p style="text-align: right;"><span style="color: #993300;"><a href="http://mitropolia.kiev.ua/blazhennishij-mitropolit-onufrij-peredav-groshi-dlya-budinku-ditini-na-donbasi/"><span style="color: #993300;">mitropolia.kiev.ua</span> </a> </span>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong><span style="color: #993300;">05.02.2015. Новости "Нашей Лепты" на сайте "Православная жизнь"</span> </strong> </span>
</p>
<p><span style="color: #000000;"><strong><span style="font-family: georgia,palatino;">Машина продуктов от еще одного столичного храма жителям Востока: </span> </strong> </span>
</p>
<p><span style="color: #000000;"><strong><span style="font-family: georgia,palatino;">«Мы ориентировались в первую очередь на помощь детям»</span> </strong> </span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><a href="http://www.pravlife.org/sites/default/files/styles/article_base_450/public/field/image/dsc02640.jpg?itok=I6BlTVPm" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="http://www.pravlife.org/sites/default/files/styles/article_base_450/public/field/image/dsc02640.jpg?itok=I6BlTVPm" alt="" width="197" height="128" /></a>Сегодня, 5 февраля, община храма во имя свт. Николая Чудотворца, Печерского благочиния города Киева передали помощь для мирных жителей, которые находятся в зоне военного конфликта на Востоке Украины.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Благочинный Печерского благочиния, настоятель храма протоиерей Владимир Косточка искренне удивляется как им удалось собрать такое количество продуктов и вещей:</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">«Мы передали детские и взрослые вещи, продукты питания, детское питание, продукты детской гигиены: памперсы, зубные пасты, шампуни, а также бытовую химию, много детского печенья. Все это мы собрали за три дня, сами удивляемсякак нам удалось – это невероятно.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Люди просили ещё время, чтобы удалось помочь больше – ведь, это рабочие дни – сложно вырваться. Но так, как машина уходит в ближайшие дни, мы договорились о сборе для дальнейшего возможного транша помощи пострадавшим в зону конфликта.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Слава Богу, очень отзывчивые и сердечные люди у нас. Никто не сказал: «Это не моя беда, не моя проблема». Наоборот, люди готовы и дальше помогать. Мы рады внести нашу небольшую лепту в это нужное и большое дело, как от прихожан нашего храма, так и от проекта «Наша лепта». Наш проект продолжается, и по мере сил мы стараемся помогать. Основную и самую важную помощь мы стараемся оказывать деткам. И в этот раз мы ориентировались в первую очередь именно на помощь детям.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Все люди организованно сложились и постарались купить все по списку – то необходимое, что было указано в объявлении».</span>
</p>
<p style="text-align: right;"><span style="text-decoration: underline;"><span style="color: #993300; font-family: georgia,palatino; text-decoration: underline;"><a href="http://www.pravlife.org/content/mashina-produktov-ot-eshche-odnogo-stolichnogo-hrama-zhitelyam-vostoka-my-orientirovalis-v"><span style="color: #993300; text-decoration: underline;">"Православная жизнь"</span> </a> </span> </span>
</p>
<p ><span style="color: #993300;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><strong>13.<span style="font-family: georgia,palatino;">01.2015. "Наша Лепта" у Сенегалі.</span>
</strong>
			</span>
</p>
<p style="line-height: 21.6px; margin: 0px 0px 15px; padding: 0px; color: #444444; font-family: Arial,Helvetica,sans-serif; font-size: 12px; text-align: justify;"><span style="font-family: georgia,palatino;"><a href="http://vzcz.church.ua/files/2015/01/IMG_3475.jpg" target="_blank" class="jcepopup"><img style="border: 3px solid #ffffff; margin: 10px; float: left;" src="http://vzcz.church.ua/files/2015/01/IMG_3475.jpg" alt="" width="173" height="132" /></a>З благословення Блаженнішого Митрополита Київського і всієї України Онуфрія клірик храму святителя Спиридона Триміфунтського м.Києва протоієрей Захарія Керстюк<em style="line-height: inherit;">07 січня 2015 року</em>звершив святкове різдвяне богослужіння на території Посольства України у Дакарі – столиці Ісламської Республіки Сенегал.</span>
</p>
<p style="line-height: 21.6px; margin: 0px 0px 15px; padding: 0px; color: #444444; font-family: Arial,Helvetica,sans-serif; font-size: 12px; text-align: justify;"></p>
<p style="line-height: 21.6px; margin: 0px 0px 15px; padding: 0px; color: #444444; font-family: Arial,Helvetica,sans-serif; font-size: 12px; text-align: justify;"><span style="font-family: georgia,palatino;">Під час богослужіння були піднесені молитви за мир в Україні, за здоров’я воїнів, за зцілення поранених, а також за упокій душ загиблих у військовому конфлікті на сході України. Після звершення Божественної літургії протоієрей Захарія привітав місцевих віруючих зі святом Різдва Христового та передав у подарунок Послу України у Сенегалі пану О. Є. Овчарову примірник Біблії з дарчим написом Блаженнішого Митрополита Онуфрія, яку Місія «Милосердя без кордонів» придбала на благодійному ярмарку - аукціоні «Наша лепта».</span>
</p>
<p style="line-height: 21.6px; margin: 0px 0px 15px; padding: 0px; color: #444444; font-family: Arial,Helvetica,sans-serif; font-size: 12px; text-align: right;"><span style="text-decoration: underline;"><span style="color: #000000; font-family: georgia,palatino; text-decoration: underline;"><a href="http://vzcz.church.ua/2015/01/13/senegal-ukrajinskij-svyashhenik-zvershiv-rizdvyane-bogosluzhinnya-dlya-spivvitchiznikiv-u-dakari/"><span style="color: #000000; text-decoration: underline;">читати повністю</span>
</a>
			</span>
			</span>
</p>
<p >~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p style="text-align: justify;"><span style="color: #800000; font-family: georgia,palatino;"><strong>09.01.2015."Наша Лепта" звітує!</strong></span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Під час підготовки та проведення благодійної акції «Наша Лепта» було здійснено збір речей для вимушених переселенців зі сходу України.</span>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="https://lh3.googleusercontent.com/-XZfv32iu8M0/VK_8jXUcsCI/AAAAAAAAHK0/XcjXDjRuO34/w958-h719-no/Fotor0108164312.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh3.googleusercontent.com/-XZfv32iu8M0/VK_8jXUcsCI/AAAAAAAAHK0/XcjXDjRuO34/w958-h719-no/Fotor0108164312.jpg" alt="" width="236" height="205" /></a></td>
    <td><a href="https://lh5.googleusercontent.com/-zVtDtHFdnB4/VK_8juNF5NI/AAAAAAAAHK4/4oCRVVd1kgA/w958-h719-no/Fotor010817000.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh5.googleusercontent.com/-zVtDtHFdnB4/VK_8juNF5NI/AAAAAAAAHK4/4oCRVVd1kgA/w958-h719-no/Fotor010817000.jpg" alt="" width="236" height="205" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Загалом протягом грудня 2014 року зібрано близько 2-х тонн одягу для дорослих та дітей. Одяг надали парафіяни храмів м. Києва та небайдужі мешканці міст: Полтава, Біла Церква, Хмельницький, Суми.</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">В свою чергу волонтери акції передали зібрані речі до Центру гуманітарної допомоги та частину відвезли до культурно-оздоровчого центру «Джерело», що в Пущі–Водиці, де зараз перебувають близько трьохсот переселенців.</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Проект «Наша Лепта» триває. Дякуємо за підтримку!</span>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p ><span style="font-family: georgia,palatino; font-size: 12pt; color: #800000;"><strong>"Наша Лепта" - наши фото!</strong></span>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="https://lh5.googleusercontent.com/-Y-HlIjHhBDk/VKmyOhMl1nI/AAAAAAAAHJ0/aFOvy_TJ2LA/s900/NCH_5685.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh5.googleusercontent.com/-Y-HlIjHhBDk/VKmyOhMl1nI/AAAAAAAAHJ0/aFOvy_TJ2LA/s900/NCH_5685.jpg" alt="" width="139" height="121" /></a></td>
    <td><a href="https://lh6.googleusercontent.com/-ap9aSuLZYH4/VKmzaPeYnRI/AAAAAAAAHJ0/1kjekiAhcKs/s900/NCH_5889.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh6.googleusercontent.com/-ap9aSuLZYH4/VKmzaPeYnRI/AAAAAAAAHJ0/1kjekiAhcKs/s900/NCH_5889.jpg" alt="" width="139" height="121" /></a>
    </td>
    <td><a href="https://lh6.googleusercontent.com/-J8VAHC87Jd4/VKmxhC_gXOI/AAAAAAAAHJ0/FxdzJQbrw5s/s900/NCH_5581.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh6.googleusercontent.com/-J8VAHC87Jd4/VKmxhC_gXOI/AAAAAAAAHJ0/FxdzJQbrw5s/s900/NCH_5581.jpg" alt="" width="139" height="121" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p ><span style="font-family: georgia,palatino; color: #800000;"><a href="index.php/zhizn/fotogallereya/category/96-blagodijna-aktsiya-nasha-lepta-27-12-2014"><span style="text-decoration: underline; color: #800000;"><strong>см. ФОТОАЛЬБОМ</strong></span> </a> </span>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p style="text-align: left;"><strong><span style="font-family: georgia,palatino; color: #800000;">"<span style="font-size: 10pt; color: #0000ff;">Наша Лепта" в "Православному віснику УПЦ"</span></span></strong>
</p>
<p style="text-align: left;"><iframe src="//www.youtube.com/embed/YduSWVgj5ck?rel=0&amp;wmode=opaque" frameborder="0" width="213" height="175" allowfullscreen="allowfullscreen" style="vertical-align: middle; display: block; margin-left: auto; margin-right: auto;"></iframe>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p ></p>
<p style="text-align: justify;"><span style="color: #800000;"><strong><span style="font-family: georgia,palatino;">"<span style="color: #0000ff;">Наша Лепта" на сайте</span></span> </strong> </span>
</p>
<p style="text-align: justify;"><span style="color: #0000ff;"><strong><span style="font-family: georgia,palatino;"> православного фестиваля авторской песни "Благодатное Небо"</span> </strong> </span>
</p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><span style="font-family: georgia,palatino;"><a href="http://blagonebo.org.ua/images/stories/oskoldir_lepta.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="http://blagonebo.org.ua/images/stories/oskoldir_lepta.jpg" alt="" width="164" height="129" /></a></span></span>
</p>
<p style="text-align: justify;"><span style="font-size: 10pt;"><span style="font-family: georgia,palatino;">На запрошення організаторів з авторськими піснями виступили дипломанти фестивалю та музиканти Клубу. Прозвучали <span style="font-size: 10pt;">Колядки, ліричні співи авторів-<span style="line-height: 15.6px;">виконавців</span><span style="line-height: 1.5;">Олексія Ахаїмова, Галі Ільєвої, Сергія Сергієнка (гурт «ОскольДир»), Олександра і Лілії Коняєвих</span></span>.</span><br /> </span>
</p>
<p style="text-align: right;"><span style="color: #000000;"><a href="http://blagonebo.org.ua/index.php?option=com_content&amp;task=view&amp;id=294&amp;Itemid=92"><span style="text-decoration: underline; color: #000000;"><strong>blagonebo.org.u</strong></span> </a>a</span>
</p>
<p ></p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p ></p>
<p class="entry-title"><span style="color: #800000;"><strong><span style="font-family: georgia,palatino;">Волонтери благодійної акції «Наша Лепта» відвідали вимушених переселенців у культурно–оздоровчому центрі «Джерело»</span> </strong> </span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong><a href="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed1.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed1.jpg" alt="" width="206" height="150" /></a>4 січня 2015р.</strong>, напередодні свята Різдва Христового, волонтери благодійної акції «Наша Лепта» завітали до культурно–оздоровчого центру «Джерело», що у Пущі-Водиці. Саме там сьогодні перебувають близько трьохсот біженців зі сходу України, серед яких 130 дітей.</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Керівник проекту «Наша Лепта» благочинний Печерського благочиння протієрей Володимир Косточка разом із настоятелем храму на честь преподобного Серефима Саровського, що у Пущі–Водиці, протоієреєм Іоанном Грицьком відслужили молебень та покропили дітей святою водою.</span>
</p>
<p></p>
<table>
  <tbody>
  <tr>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed-11.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed-11.jpg" alt="" width="139" height="121" /></a></td>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed-51.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed-51.jpg" alt="" width="139" height="121" /></a>
    </td>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed-21.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed-21.jpg" alt="" width="139" height="121" /></a>
    </td>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed-41.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2015/01/unnamed-41.jpg" alt="" width="86" height="126" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Волонтери передали одяг, іграшки та продукти харчування. Благодійний проект «Наша Лепта» триває.</span>
</p>
<p style="text-align: right;"><a href="http://mitropolia.kiev.ua/volonteri-blagodijno%D1%97-akci%D1%97-nasha-lepta-vidvidali-vimushenix-pereselenciv-u-kulturno-ozdorovchomu-centri-dzherelo/"><strong><span style="text-decoration: underline; color: #000000;"><span style="text-decoration: underline;">mitropolia.kiev.ua</span></span></strong></a>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p ><span style="font-family: georgia,palatino;"><span style="color: #800000;"><strong>Вітаємо переможців</strong></span> спеціального благодійного аукціону, що відбувся підчас проведення благодійної акції «Наша Лепта» 27 грудня 2014 року та дякуємо за благодійні внески!</span>
</p>
<p ></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Нам особливо приємно зазначити, що володарями головного лоту— Книги Святого Письма Нового іСтарого Заповіту здарчим підписом Блаженнішого Митрополита Онуфрія — стали члени Координаційної ради Міжнародної гуманітарної місії «Милосердя без кордонів» Гюльназ Сардарова, Вадим Антонюк таінші. Керівник місії протоієрей Захарія Керстюк.</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Це люди які присвятили своє життя справі благодійності та милосердя. Можна цілком впевнено сказати, що книга з дарчим надписом Блаженнішого владики, який звучить так: <strong>«Боже благословення Учаснику благодійного аукціону „Наша Лепта“. Блаженні милостиві, тому щовони помилувані будуть. Онуфрій, Митрополит Київський івсієї України»</strong> - потрапила саме за адресатом!</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Дякуємо Місіїї «Милосердя без кордонів» за участь в нашій акції, та за та за їх добрі справи і християнське служіння людям. Допомагай їм Боже!</span>
</p>
<p ><a href="https://lh6.googleusercontent.com/-okmX8Jf5w9I/VKK1aN5SYrI/AAAAAAAAG1Q/lFQ8aJ_khQk/w900-h601-no/NCH_6010.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; vertical-align: middle;" src="https://lh6.googleusercontent.com/-okmX8Jf5w9I/VKK1aN5SYrI/AAAAAAAAG1Q/lFQ8aJ_khQk/w900-h601-no/NCH_6010.jpg" alt="" width="291" height="191" /></a>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="https://lh3.googleusercontent.com/-IuZzFb-q0P4/VKK1rmQ_2UI/AAAAAAAAG1o/9fU-iVbJyvo/w536-h800-no/DSC_1661.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh3.googleusercontent.com/-IuZzFb-q0P4/VKK1rmQ_2UI/AAAAAAAAG1o/9fU-iVbJyvo/w536-h800-no/DSC_1661.jpg" alt="" width="139" height="146" /></a></td>
    <td ><a href="https://lh3.googleusercontent.com/-cVUad7dkL1I/VKK1r7vuahI/AAAAAAAAG1s/ATTQQVHU3b0/w800-h536-no/DSC_1669.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh3.googleusercontent.com/-cVUad7dkL1I/VKK1r7vuahI/AAAAAAAAG1s/ATTQQVHU3b0/w800-h536-no/DSC_1669.jpg" alt="" width="159" height="135" /></a></td>
    <td ><a href="https://lh5.googleusercontent.com/-gtHpfRM7MSg/VKK1r94M72I/AAAAAAAAG1w/taR_TKdyk1s/w800-h536-no/DSC_1680.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://lh5.googleusercontent.com/-gtHpfRM7MSg/VKK1r94M72I/AAAAAAAAG1w/taR_TKdyk1s/w800-h536-no/DSC_1680.jpg" alt="" width="170" height="135" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p class="entry-title" ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p><span style="font-family: georgia,palatino; font-size: 12pt;"><strong><span style="color: #0000ff;">"Наша Лепта" на телеканале "ИНТЕР"</span> </strong> </span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">На аукціоні допомоги дітям Донбасу продали унікальну БібліюДобрих справ багато не буває. У столиці прихожани церкви провели перший благодійний ярмарок та аукціон. Назвали його "Наша лепта", а отримані гроші відправили на допомогу дітям Донбасу. На аукціоні був ексклюзивний лот - Біблія у художній палітурці.</span>
</p>
<p><span style="color: #000000;"><a href="http://inter.ua/uk/video/episode/faces_utro/2014/12/29/bibliya"><span style="color: #000000;"><strong><span style="text-decoration: underline;"><span style="font-size: 10pt;">ВИДЕО СЮЖЕТ см. здесь</span></span> </strong> </span> </a> </span>
</p>
<p class="entry-title" ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p class="entry-title"><span style="color: #0000ff; font-size: 10pt;"><strong><span style="font-family: georgia,palatino;">Наша Лепта" на сайте благотворительного фонда "Фавор"</span> </strong> </span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Открывая благотворительную ярмарку, куратор проекта епископ Васильковский Николай напомнил, что, совершая дела добра имилосердия, мывыполняем евангельскую заповедь Христа, Который назвал блаженными милостивых, которые помилованы будут.</span>
</p>
<p ><a href="http://www.bf-favor.org/upload/reviews/cab8030964d46df12d333c1e3fc345b4.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; vertical-align: middle;" src="http://www.bf-favor.org/upload/reviews/cab8030964d46df12d333c1e3fc345b4.jpg" alt="" width="319" height="219" /></a>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">«Православная Церковь никогда нестояла встороне отбед народа, отстрадания незащищенных— детей инемощных,— сказал владыка. — Она, как любящая мать, всегда вовсе времена лихолетья покрывала своими крыльями тех, кто страдает. Поэтому сегодня мысобрались здесь, чтобы творить дела добра,— внести исвою посильную лепту, уподобляясь той евангельской вдове, нажертву которой указал Спаситель».</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Обладателями главного лота стали члены Координационного совета Международной гуманитарной миссии «Милосердие без границ» Гульнас Сардарова, Вадим Антонюк идругие.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Гульнас Сардарова, принимая Библию, объявила дарственную подпись Блаженнейшего: «Божье благословение участнику благотворительного аукциона „Наша Лепта“. Блаженны милостивые, ибо они помилованы будут. Онуфрий, Митрополит Киевский ивсея Украины».</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Организаторам удалось собрать более 30тысяч гривен. Новтечение месяца каждый желающий может присоединиться кприхожанам Свято-Николаевской общины при 17-й Киевской больнице ипомочь детям Донбасса.</span>
</p>
<p style="text-align: right;"><span style="color: #000000;"><a href="http://www.bf-favor.org/reviews/artilce/v_kieve_sostoyalas_rozhdestvenskaya_yarmarka_auktsion_%C2%ABnasha_lepta%C2%BB"><span style="text-decoration: underline; color: #000000;"><strong>http://www.bf-favor.org</strong></span> </a> </span>
</p>
<p class="entry-title" >~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p class="entry-title"><span style="font-size: 10pt;"><strong><span style="color: #0000ff;"><span style="font-family: georgia,palatino;">Наша Лепта на офіційному сайті</span> </span>
</strong>
			</span>
</p>
<p class="entry-title"><span style="font-family: georgia,palatino; font-size: 10pt;"><strong><span style="color: #0000ff;">Духовно – просвітницького центру кафедрального собору УПЦ</span> </strong> </span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><a href="http://soborna.church.ua/files/2014/12/IMG_6138-001.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="http://soborna.church.ua/files/2014/12/IMG_6138-001.jpg" alt="" width="193" height="155" /></a>Захід ініціювали парафіяни храму на честь святителя Миколая Чудотворця при сімнадцятій міській лікарні Києва. Підтримали ініціативу керуючий Південним київським вікаріатством єпископ Васильківський Миколай та Печерське благочиння. Від імені настоятеля Кафедрального собору УПЦ, Блаженнішого Митрополита Київського та всієї України Онуфрія, благодійний захід відвідав Голова Парафіяльної ради собору єпископ Бородянський Варсонофій.</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Ярмарка розпочалася з молебню на початок доброї справи. Цього дня на гостей акції чекав передноворічний продаж різноманітних товарів з можливістю зробити благодійну покупку. Благодійна акція особливо проявила розуміння соборності Православної Церкви – тут були представлені ікони, живопис, гобелени, hand made, пісні солодощі з різних приходів Печерського благочиння – до підготовки ярмарку долучилися і дорослі, і діти. Акцію «Наша Лепта» підтримали Київ, Біла Церква, Суми, Полтава, Хмельницький та ін.</span>
</p>
<p style="text-align: right;"><span style="font-family: georgia,palatino;"><strong><em>Дарія Кривошея</em></strong></span>
</p>
<p style="text-align: right;"><span style="font-family: georgia,palatino;">читати повністью на</span><a href="http://soborna.church.ua/2014/12/27/u-galereji-soborna-vidbuvsya-blagodijnij-yarmarok-aukcion-nasha-lepta/"> <span style="color: #993300;"> </span></a><a href="http://soborna.church.ua">http://soborna.church.ua</a>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="http://soborna.church.ua/files/2014/12/IMG_5953-001.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://soborna.church.ua/files/2014/12/IMG_5953-001.jpg" alt="" width="121" height="126" /></a></td>
    <td><a href="http://soborna.church.ua/files/2014/12/IMG_5941-001.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://soborna.church.ua/files/2014/12/IMG_5941-001.jpg" alt="" width="122" height="126" /></a>
    </td>
    <td><a href="http://soborna.church.ua/files/2014/12/IMG_6031-001.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://soborna.church.ua/files/2014/12/IMG_6031-001.jpg" alt="" width="115" height="126" /></a>
    </td>
    <td><a href="http://soborna.church.ua/files/2014/12/IMG_5970-001.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://soborna.church.ua/files/2014/12/IMG_5970-001.jpg" alt="" width="116" height="126" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p class="entry-title" >~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p class="entry-title"><span style="color: #0000ff; font-size: 10pt;"><strong><span style="font-family: georgia,palatino;">"Наша Лепта" на сайте "Православная жизнь"</span> </strong> </span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><a href="http://www.pravlife.org/sites/default/files/styles/article_base_450/public/field/image/img_9312.jpg?itok=UxjUC99p" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="http://www.pravlife.org/sites/default/files/styles/article_base_450/public/field/image/img_9312.jpg?itok=UxjUC99p" alt="" width="151" height="203" /></a>«Для нас благотворительность – это спасительно, - <em>говорит протоиерей Владимир (Косточка), один из соорганизаторов аукциона,</em>- ведь она смягчает наши сердца. А для тех, кто получит эту помощь – напоминание, что есть милость Божья и забота Господа о всех, которую Он являет через людей. Надеемся, что получив помощь от всех нас, детки будут верить в лучшее».</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><strong><span style="font-family: georgia,palatino;">Коллектив редакции портала "Православная жизнь" также внёс свою "лепту в дело мира" - все средства от продажи журнала "Направо" на рождественской ярмарке-аукционе переданы в помощь нуждающимся.</span></strong>
</p>
<p style="text-align: right;"><a href="http://www.pravlife.org/content/fotoreportazh-kak-na-rozhdestvenskoy-yarmarke-aukcione-sobirali-dengi-dlya-detok"><span style="text-decoration: underline;"><strong>pravlife.org</strong></span></a>
</p>
<p class="entry-title" >~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p class="entry-title" style="text-align: justify;"><span style="font-family: georgia,palatino; color: #0000ff; font-size: 10pt;"><strong>"Наша Лепта" на сайте Свято-Вознесенского храма (Демиевка)</strong></span>
</p>
<p class="entry-title" style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong>27.12 в 10.00 в галерее "Соборной" состоялось открытие благотворительной ярмарки "Наша лепта"</strong>. Перед началом мероприятия Владыка Николай, епископ Васильковский совершил молебен, сказал приветственное слово и передал благословение Блаженнейшего Митрополита Онуфрия. Одним из первых посетителей ярмарки был Владыка Варсонофий, епископ Бородянский, а также прихожане окрестных храмов. Все присутствующие с большим интересом не только рассматривали предлагаемые изделия, но также активно делали покупки. Люди понимали насколько важна их активная благотворительная позиция в деле помощи нуждающимся. Учащиеся Воскресных школ в течении дня давали представления и маленькие концерты.</span>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="http://demievka.info/img/NashaLepta27122014/p1410526.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://demievka.info/img/NashaLepta27122014/p1410526.jpg" alt="" width="107" height="117" /></a></td>
    <td><a href="http://demievka.info/img/NashaLepta27122014/p1410538.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://demievka.info/img/NashaLepta27122014/p1410538.jpg" alt="" width="107" height="117" /></a></td>
    <td><a href="http://demievka.info/img/NashaLepta27122014/p1410552.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://demievka.info/img/NashaLepta27122014/p1410552.jpg" alt="" width="107" height="117" /></a></td>
    <td><a href="http://demievka.info/img/NashaLepta27122014/p1410280.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://demievka.info/img/NashaLepta27122014/p1410280.jpg" alt="" width="107" height="117" /></a></td>
  </tr>
  </tbody>
</table>
<p class="entry-title" style="text-align: right;"><span style="font-size: 10pt;">см. фото на сайте<span style="color: #800000;"> <a href="http://demievka.info/"><span style="color: #800000;">http://demievka.info/</span> </a> </span> </span>
</p>
<p class="entry-title" ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p class="entry-title"><span style="font-family: georgia,palatino; font-size: 10pt; color: #0000ff;">"<strong>НАША ЛЕПТА" в соцсетях:</strong> </span>
</p>
<p class="entry-title"><span style="font-family: georgia,palatino; font-size: 10pt;">Вот так прошла благотворительная ярмарка сегодня в галерее "Соборная" в которой мне повезло поучаствовать)).</span>
</p>
<p class="entry-title" style="text-align: right;"><span style="font-family: georgia,palatino; font-size: 10pt;"> Татьяна Видута участница "Ярмарки мастеров"</span>
</p>
<table>
  <tbody>
  <tr>
    <td ><a href="https://pp.vk.me/c622625/v622625937/10dff/7izRGWVqze8.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c622625/v622625937/10dff/7izRGWVqze8.jpg" alt="" width="119" height="129" /></a>
    </td>
    <td ><a href="https://pp.vk.me/c622625/v622625937/10e09/jVLGESD0ilM.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c622625/v622625937/10e09/jVLGESD0ilM.jpg" alt="" width="119" height="130" /></a>
    </td>
    <td ><a href="https://pp.vk.me/c622625/v622625937/10e13/5Jkjs1CC6L4.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c622625/v622625937/10e13/5Jkjs1CC6L4.jpg" alt="" width="119" height="129" /></a>
    </td>
  </tr>
  <tr>
    <td ><a href="https://pp.vk.me/c622625/v622625937/10e1d/Sz5Rjs-Axso.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c622625/v622625937/10e1d/Sz5Rjs-Axso.jpg" alt="" width="119" height="129" /></a>
    </td>
    <td ><a href="https://pp.vk.me/c622625/v622625937/10e27/cUvpSZE3i54.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c622625/v622625937/10e27/cUvpSZE3i54.jpg" alt="" width="119" height="130" /></a>
    </td>
    <td ><a href="https://pp.vk.me/c622625/v622625937/10e4c/7Q8XcpSK-io.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c622625/v622625937/10e4c/7Q8XcpSK-io.jpg" alt="" width="119" height="129" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p class="entry-title" ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="https://pp.vk.me/c625820/v625820098/11a28/KDFolKmPw_I.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c625820/v625820098/11a28/KDFolKmPw_I.jpg" alt="" width="101" height="109" /></a>
    </td>
    <td><a href="https://pp.vk.me/c625820/v625820098/11a31/6d6RmhmYtF4.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c625820/v625820098/11a31/6d6RmhmYtF4.jpg" alt="" width="107" height="117" /></a></td>
    <td><a href="https://pp.vk.me/c625820/v625820098/11a1f/JDyRNsm6znU.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c625820/v625820098/11a1f/JDyRNsm6znU.jpg" alt="" width="107" height="117" /></a></td>
    <td><a href="https://pp.vk.me/c625820/v625820098/11a16/PQ9pzy6l3W0.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="https://pp.vk.me/c625820/v625820098/11a16/PQ9pzy6l3W0.jpg" alt="" width="107" height="117" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p class="entry-title" style="text-align: right;"><span style="font-family: georgia,palatino;"><strong>фото Виталия,</strong></span>
</p>
<p class="entry-title" style="text-align: right;"><span style="font-family: georgia,palatino;"><strong> волонтера благотворительной акции "Наша Лепта"</strong></span>
</p>
<p class="entry-title" ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p class="entry-title"><span style="font-family: georgia,palatino; color: #0000ff;"><strong>"<span style="font-size: 10pt;">Наша Лепта" на сайте Киевской митрополии:</span> </strong> </span>
</p>
<p class="entry-title"><strong><span style="font-family: georgia,palatino;">В галереї «Соборна» пройшов різдвяний ярмарок-аукціон «НАША ЛЕПТА»</span></strong>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong><a href="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/P1410591.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/P1410591.jpg" alt="" width="166" height="152" /></a>27грудня</strong>, вгалереї «Соборна», щонатериторії споруджуваного Свято-Воскресенського кафедрального собору, заблагословенням Предстоятеля Української Православної Церкви Блаженнішого Митрополита Київського івсієї України Онуфрія <strong>відбувся різдвяний ярмарок-аукціон «НАША ЛЕПТА»</strong>, зібрані кошти якого будуть перераховані налікування дітей, які постраждали всхідних регіонах нашої держави, тадітей, щозаскладних економічних обставин залишились сам насам зтяжкими таневиліковними хворобами.</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong>Організатор проекту— Печерське благочиння Києва таСвято-Миколаївська громада (17-та Київська лікарня, Печерський район)</strong>.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Узаході взяли участь: єпископ Бородянський Варсонофій, керуючий Бородянським вікаріатством, єпископ Васильківський Миколай, керуючий Південним київським вікаріатством, благочинний Голосіївського благочиння протоієрей Павел Кирилов, благочинний Печерського благочиння протоієрей Володимир Косточка, благочинний Солом’янського благочиння протоієрей Ярослав Шовкеник тапредставники духовенства Київської єпархії.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Відкриваючи благодійну акцію, куратор проекту— єпископ Васильківський Миколай нагадав, що, здійснюючи справи добра імилосердя, мивиконуємо євангельську заповідь Христа, Який назвав блаженними милостивих, які помилувані будуть, ізакликав всіх людей бути милосердними, яким єнаш Небесний Отець. «Православна Церква ніколи нестояла осторонь від бід народу, від страждання незахищених— дітей інемічних,— сказав владика,— Вона, яклюбляча мати, завжди увсі часи лихоліть покривала своїми крилами тих, хто страждає. Тому сьогодні мизібрались тут, щоб творити діла добра,— внести ісвою посильну лепту, уподоблюючись дотієї євангельської вдови, нажертву якої вказав Спаситель».</span>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_1544.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_1544.jpg" alt="" width="156" height="151" /></a></td>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_1620.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_1620.jpg" alt="" width="177" height="151" /></a>
    </td>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_1680.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_1680.jpg" alt="" width="149" height="151" /></a></td>
  </tr>
  </tbody>
</table>
<p style="text-align: right;"><a href="http://mitropolia.kiev.ua/v-galere%D1%97-soborna-projshov-rizdvyanij-yarmarok-aukcion-nasha-lepta/"><span style="text-decoration: underline;"><strong><span style="color: #000000; text-decoration: underline;">див. повністю.</span>..</strong></span></a>
</p>
<p >~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><span style="color: #0000ff;"><strong>Дорогі друзі,</strong></span> висловлюємо слова щирої подяки усім тим, хто підтримав благодійну акцію «Наша Лепта». Завдяки Вам за два тижні ми зібрали понад тонну одягу, частину з якого вже передано до гуманітарного складу Синодального відділу з соціально-гуманітарних питань УПЦ.</span>
</p>
<p ><span style="color: #0000ff;"><strong><span style="font-family: georgia,palatino;">Приємно зазначити, що акцію «Наша Лепта» підтримали міста:</span> </strong> </span>
</p>
<p ><span style="color: #0000ff;"><strong><span style="font-family: georgia,palatino;">Київ, Біла Церква, Суми, Полтава, Хмельницький.</span> </strong> </span>
</p>
<p style="text-align: right;"><span style="font-family: georgia,palatino;">Дякуємо за підтримку.</span>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p class="entry-title" ><span style="color: #0000ff;"><strong><span style="font-family: georgia,palatino;">У Голосіївському благочинні зібрано дитячі витвори</span>
</strong>
			</span>
</p>
<p class="entry-title" ><span style="color: #0000ff;"><strong><span style="font-family: georgia,palatino;"> для благодійного аукціону “Наша лепта”</span>
</strong>
			</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><a href="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/unnamed-53-624x468.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/unnamed-53-624x468.jpg" alt="" width="161" height="135" /></a>У Голосіївському благочинні з усією відповідальністю поставилися до підготовки ярмарки-аукціону "Наша лепта", відкриття якої відбудеться 27 грудня о 10:00 в галереї "Соборній".</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Учні недільної школи та парафіяни храмів благочиння зібрали одяг, малюнки та інші витвори домашнього виробництва для благодійного аукціону. Особливу подяку благочинний протоієрей Павел Кирилов висловлює учням та директору школи-інтернат №11 Ірині Андріївні за прекрасні картини і ляльки-мотанки. Запрошуємо всіх парафіян приєднається і внести свою лепту до цієї важливої справи.</span>
</p>
<p style="text-align: right;"><span style="color: #000000;"><a href="http://mitropolia.kiev.ua/u-golosi%D1%97vskomu-blagochinni-zibrano-predmeti-dlya-blagodijnogo-aukcionu-nasha-lepta/"><span style="text-decoration: underline; color: #000000;"><strong>mitropolia.kiev.ua</strong></span>
</a>
			</span>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;"><strong><span style="font-family: georgia,palatino; font-size: 12pt;"><a href="https://lh3.googleusercontent.com/-EquKYNM79aQ/VJHc9YYhALI/AAAAAAAAGzs/0zqClFNKifQ/w958-h639-no/DSC02509.JPG" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="https://lh3.googleusercontent.com/-EquKYNM79aQ/VJHc9YYhALI/AAAAAAAAGzs/0zqClFNKifQ/w958-h639-no/DSC02509.JPG" alt="" width="191" height="146" /></a></span>Студенти Київського Національного Університету технології і дизайну</strong> надали власноруч виготовлені іграшки для різдвяного благодійного ярмарку – аукціону «Наша Лепта».</span>
</p>
<p style="text-align: right;"><span style="font-family: georgia,palatino; font-size: 10pt;">Дякуємо за підтримку благодійної акції!</span>
</p>
<p class="entry-title" ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p class="entry-title" ></p>
<p class="entry-title" ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p class="entry-title" ><span style="font-family: georgia,palatino; color: #800000;"><strong>Предстоятель УПЦ надав книгу-лот </strong></span>
</p>
<p class="entry-title" ><span style="font-family: georgia,palatino; color: #800000;"><strong>для благодійного аукціону “Наша лепта”</strong></span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong><a href="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_0069.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_0069.jpg" alt="" width="212" height="152" /></a>15 грудня</strong> у резиденції Предстоятеля Української Православної Церкви Блаженніший Митрополит Київський і всієї України Онуфрій зустрівся з організаторамиріздвяного благодійного ярмарку-аукціону"Наша лепта", яким передав книгу зі своїм особистим дарчим надписом.</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">У зустрічі взяли участь: куратор благодійного проекту єпископ Васильківський Миколай, керуючий Південним київським вікаріатством, керівник проекту протоієрей Володимир Косточка, благочинний Печерського благочиння, організатор заходу Валентина Калашнікова.</span>
</p>
<p style="text-align: justify;"></p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;">Книгу Священного Писання Старого та Нового Заповітів, надану Його Блаженством, буде виставлено в якості головного лоту<span style="color: #000000;">аукціону</span>, який відбудеться 27 грудня. Саме володар цього лоту зможе прочитати дарчий надписБлаженнішого Митрополита Київського і всієї України Онуфрія.</span>
</p>
<table>
  <tbody>
  <tr>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_0073.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_0073.jpg" alt="" width="179" height="143" /></a></td>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_0076.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_0076.jpg" alt="" width="179" height="145" /></a>
    </td>
    <td><a href="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_0077.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff;" src="http://mitropolia.kiev.ua/wp-content/uploads/2014/12/DSC_0077.jpg" alt="" width="179" height="145" /></a>
    </td>
  </tr>
  </tbody>
</table>
<p style="text-align: right;"><span style="color: #000000;"><a href="http://mitropolia.kiev.ua/predstoyatel-upc-nadav-knigu-lot-dlya-blagodijnogo-aukcionu-nasha-lepta/"><span style="text-decoration: underline; color: #000000;">mitropolia.kiev.ua</span> </a> </span>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p ><span style="font-size: 12pt;"><strong><span style="font-family: georgia,palatino; color: #ff0000;">УВАГА! </span> </strong> </span>
</p>
<p ><strong><span style="font-family: georgia,palatino; color: #ff0000;"><span style="font-size: 12pt;">ЗМІНЕНО ПОТОЧНИЙ РАХУНОК </span></span></strong>
</p>
<p ><strong><span style="font-family: georgia,palatino; color: #ff0000;"><span style="font-size: 12pt;">ДЛЯ БЛАГОДІЙНОГО ВНЕСКУ "НАША ЛЕПТА"</span></span></strong>
</p>
<p><span style="font-family: georgia,palatino;"><strong><span style="font-size: 10pt;">Рекв</span> </strong><strong><span style="font-size: 10pt;">і</span></strong><strong><span style="font-size: 10pt;">зит</span></strong><strong><span style="font-size: 10pt;">и</span></strong><strong><span style="font-size: 10pt;">:</span></strong> </span>
</p>
<p><span style="font-size: 12pt; font-family: georgia,palatino;">р/р 26009411851 Центральне Відділення ПАТ "МАРФІН БАНК" у м. Києві<br /></span>
</p>
<p><span style="font-size: 12pt; font-family: georgia,palatino;">МФО 328168 РГ УПЦ Парафії Святителя Миколая Чудотворця</span>
</p>
<p><span style="font-size: 10pt; font-family: georgia,palatino;"><span style="font-size: 12pt;">код 21650966</span><br /> </span>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>
<p style="text-align: justify;"><strong><span style="font-family: georgia,palatino;">14.12.2014. <span style="color: #800000;">Молебень на початок доброї справи в День благодійництва в Україні</span></span></strong>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino;"><strong><a href="https://lh3.googleusercontent.com/-9SgfstcchTs/VI3qcqaL5EI/AAAAAAAAGzM/ZXl44ffq7Cw/w958-h719-no/Fotor1214214916.jpg" target="_blank" class="jcepopup"><img style="margin: 10px; border: 3px solid #ffffff; float: left;" src="https://lh3.googleusercontent.com/-9SgfstcchTs/VI3qcqaL5EI/AAAAAAAAGzM/ZXl44ffq7Cw/w958-h719-no/Fotor1214214916.jpg" alt="" width="197" height="161" /></a></strong></span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;"><strong>14 грудня</strong> в День благодійництва в Україні було відправлено молебень на початок доброї справи для волонтерської команди благодійної акції «НАША ЛЕПТА». Молебень відправив керівник проекту, настоятель храму свт. Миколая Чудотворця прот. Володимир Косточка.</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;"><strong><span style="color: #800000;">Запрошуємо Вас</span> </strong>, завітати 27 грудня до галереї «Соборна» с 10:00 до 16:00 години на благодійний різдвяний ярмарок-аукціон «Наша Лепта»</span>
</p>
<p style="text-align: justify;"><span style="font-family: georgia,palatino; font-size: 10pt;">Від усього серця ми намагаємося створити свято доброти та милосердя. Нам необхідна Ваша підтримка. Зробимо добру справу разом! <br /></span>
</p>
<p ><a href="https://lh5.googleusercontent.com/-3UPuv8mJ-j0/VI3qsgV-a3I/AAAAAAAAGzU/UgORixSx2nE/w958-h639-no/DSC02505.JPG" target="_blank" class="jcepopup"><img style="margin: 10px auto; border: 3px solid #ffffff; vertical-align: middle; display: block;" src="https://lh5.googleusercontent.com/-3UPuv8mJ-j0/VI3qsgV-a3I/AAAAAAAAGzU/UgORixSx2nE/w958-h639-no/DSC02505.JPG" alt="" width="262" height="186" /></a><strong><span style="font-family: georgia,palatino; font-size: 10pt; color: #800000;">До зустрічі,</span></strong>
</p>
<p ><strong><span style="font-family: georgia,palatino; font-size: 10pt; color: #800000;"> волонтерська команда акції «Наша Лепта»</span></strong>
</p>
<p  align="center"><span style="font-size: 12pt; font-family: georgia,palatino;"><a href="index.php/nasha-lepta/kontakty"><span style="color: #0000ff;"><strong><em><span style="text-decoration: underline;">Ви можете внести свою лепту в добру справу</span> </em> </strong>:</span> </a> </span>
</p>
<p ><span style="color: #800000;">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</span>
</p>

