
<embed type="application/x-shockwave-flash"
       src="https://photos.gstatic.com/media/slideshow.swf"
       width="800" height="533"
       flashvars="host=picasaweb.google.com&hl=uk&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F111442129617636727768%2Falbumid%2F6100601476767132305%3Falt%3Drss%26kind%3Dphoto%26hl%3Duk"
       pluginspage="http://www.macromedia.com/go/getflashplayer">

</embed>



<!--Picasa Galerry start-->

<link   href="scripts/js/jquery.slimbox2/jquery.slimbox2.css" rel="stylesheet" type="text/css"/>
<script src="scripts/js/jquery.slimbox2/jquery.slimbox2.js" type="text/javascript"></script>
<script src="scripts/js/jquery.pwi.js" type="text/javascript"></script>
<link   href="/app/styles/pwi.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
  $(document).ready(function() {
    var settings = {
      username: '111442129617636727768',
      mode: 'album',
      album: '27122014',
      galleryContainerId: '#gallery',
      loadingImage: 'scripts/js/jquery.slimbox2/loading.gif',
      maxResults: 90000,
      showAlbumDescription: false,
      albumTitle: "",
      showAlbumdate: false,
      slimbox_config: {
        loop: false,
        overlayOpacity: 0,
        overlayFadeDuration: 400,
        resizeDuration: 400,
        resizeEasing: "swing",
        initialWidth: 250,
        initlaHeight: 250,
        imageFadeDuration: 400,
        captionAnimationDuration: 400,
        counterText: "{x}/{y}",
        closeKeys: [27, 88, 67, 70],
        prevKeys: [37, 80],
        nextKeys: [39, 83]
      }

    }


    $("#gallery").pwi(settings);
  });
</script>
<center>
  <div id="gallery"> </div>
</center>
<!--Picasa Galerry end-->
